<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/self.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Marcel Neeleman</a></h1>
            <p>MPIA Postdoctoral Researcher<br />
            Max-Planck-Insititut für astronomie, Heidelberg, Germany</p>
        </header>
        <nav id="nav">
            <ul>
	        <li><a href="{{ site.baseurl }}/">Home</a></li>
	        <li><a href="{{ site.baseurl }}/research">My Research</a></li>
	        <li><a href="{{ site.baseurl }}/cv">CV</a></li>
		<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

